{{!-- Renders an article object ('this') --}}
<div class="panel" id="article-{{this.id}}">
  <div class="panel-header">
    <div class="panel-title h5">
      <div class="columns">
        <div class="column col-10 col-xs-9">
          <a href="{{this.url}}">{{this.headline}}</a><small> <i>by {{this.author}}</i></small>
        </div>
        <div class="column col-2 col-xs-3">
          <div class="">
            {{> article-buttons}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>{{this.summary}} - <i><time datetime="{{this.datePublished}}">{{this.displayDate}}</time></i></p>
  </div>
</div>